{% load static %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>My App</title>

    </head>
    <body>
        <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
        <script>window.jQuery || document.write('<script src="{% static 'jquery-1.7.1.min/index.js' %}"><\/script>')</script>
        <script src="{% static 'jquery/src/event.js' %}"></script>

        <script>
            $().ready(function() {
            var source = new EventSource('/sse/'); // of course this must match the endpoint in your urlconf

            function log() {
                console.log(arguments);
            }

            source.onopen = function() {
            console.log(arguments);
            };

            source.onerror = function () {
            console.log(arguments);
            };

            source.addEventListener('connections', log, false);
            source.addEventListener('requests', log, false);
            source.addEventListener('myevent', function(e) {
            data = JSON.parse(e.data);
            // .. do something..
            }, false);
            source.addEventListener('uptime', log, false);

            source.onmessage = function() {
            console.log(arguments);
            };
            });

        </script>

    </body>
</html>
